/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans+Condensed:wght@300;700&display=swap');
*{
	margin: 0px;
	padding: 0px;

}
body{
font-family: 'Open Sans Condensed', sans-serif;
}
.container{
	width: 1140px;
	margin:0px auto;

}
/*header*/
header{
	 width: 100%;
    float: left;
    padding: 20px 0px;
    background: #ffffff;

}
.logo{
	 width: 50%;
    float: left;

}
.logo img{

}
.menu{
	width: 50%;
    float: left;

}
nav ul{
	list-style: none;

}
nav ul li{
	display: inline-block;
    margin-left: 50px;
}
nav ul li a{
	 font-weight: 700;
    text-decoration: none;
    color: #b9b9b9;
    font-size: 12px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}
nav ul li a:hover{
	color: #15a4fa;
}
/*banner section*/
.banner{
	background: url(../img/banner.jpg)no-repeat;
	background-size:cover;
	width: 100%;
	float: left;
	padding: 30px 0px;


}
.banner-main{
	width: 60%;
    margin: 0px auto;
    text-align: center;
    padding-top: 180px;

}
.banner-main h2{
	color: #ffffff;
    font-size: 45px;

}

.banner-main h6{
	color: white;
    font-size: 36px;
    margin-bottom: 30px;

}
.banner-button{
	border: 1px solid #8fc63d;
    padding: 12px 32px;
    color: white;
    font-size: 15px;
    background: #8fc63d;
}.about{
	background-color: #ffffff;
	text-align: center;

}
.about-logo{
	 width: 100%;
    float: left;
    margin-top: 88px;
}

.about-content h3{
	font-size: 40px;
	color: #161616;
	margin: 80px 0px 30px 0px;

}
.about-content p{
	font-size: 15px;
	color: #999999;
	margin-bottom: 112px;

